- flash.each do |nome, mensagem|
  = content_tag :div, mensagem, class: nome


%h1 Login

= form_for :session, url: login_path, method: :post do |form|
  .field
    = form.label :email
    = form.email_field :email

  .field
    = form.label :password
    = form.password_field :password

  .actions
    = form.submit 'Login'