<div id="<%= dom_id pet_owner %>">
  <p>
    <strong>First name:</strong>
    <%= pet_owner.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= pet_owner.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pet_owner.email %>
  </p>

  <p>
    <strong>Cell number:</strong>
    <%= pet_owner.cell_number %>
  </p>

</div>
