= form_with(model: veterinary) do |form|
  - if veterinary.errors.any?
    %div{ style: "color: red" }
      %h2= pluralize(veterinary.errors.count, "error") + " prohibited this veterinary from being saved:"
      %ul
        - veterinary.errors.each do |error|
          %li= error.full_message

  %div
    = form.label :first_name, style: "display: block"
    = form.text_field :first_name

  %div
    = form.label :last_name, style: "display: block"
    = form.text_field :last_name

  - if current_user.admin
    %div
      = form.label :admin, style: "display: block"
      = form.select :admin, options_for_select([["Comum", false], ["Admin", true]], veterinary.admin)

  - unless params[:id].present?
    %div
      = form.label :password, style: "display: block"
      = form.password_field :password

      %div
      = form.label :password_confirmation, style: "display: block"
      = form.password_field :password_confirmation

  %div
    = form.label :email, style: "display: block"
    = form.email_field :email

  %div
    = form.label :phone, style: "display: block"
    = form.text_field :phone

  %div
    = form.submit
