<div id="<%= dom_id exam %>">
  <p>
    <strong>Title:</strong>
    <%= exam.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= exam.observation %>
  </p>

  <p>
    <strong>Scheduled:</strong>
    <%= exam.scheduled %>
  </p>

  <p>
    <strong>Pet owner:</strong>
    <%= exam.pet_owner_id %>
  </p>

  <p>
    <strong>Veterinary:</strong>
    <%= exam.veterinary_id %>
  </p>

</div>
