#exam{id: "exam"}
  %p
    %strong Title:
    = exam.title
  %p
    %strong Description:
    = exam.description
  %p
    %strong Observation:
    = exam.observation
  %p
    %strong Scheduled:
    = exam.scheduled
  %p
    %strong Pet owner:
    = exam.pet_owner_id
  %p
    %strong Veterinary:
    = exam.veterinary_id