<p style="color: green"><%= notice %></p>

<%= render @exam %>

<div>
  <%= link_to "Edit this exam", edit_exam_path(@exam) %> |
  <%= link_to "Back to exams", exams_path %>

  <%= button_to "Destroy this exam", @exam, method: :delete %>
</div>
