!!!
%html
  %head
    %title App
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "header", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render partial: "partials/header/header"
    %main
      = yield


:javascript
  try {
    showDiv()
  } catch(err) {
  }

  addEventListener('load', () => {
    showDiv()
  })

  function showDiv () {
    const veterinaries = document.querySelector("#veterinaries")
    if (veterinaries.children.length === 0) {
      const dataNotFound = document.createElement('div')
      dataNotFound.classList.add('data-not-found')
      dataNotFound.innerHTML = 'Nenum pet veterinarie encontrado'
      veterinaries.appendChild(dataNotFound)
    }
  }